/*-------------Button styling-------------*/

/* Navigation buttons */
.btn-prev,
.btn-next {
  display: inline-block;         /* Makes the container shrink-wrap its content */
  background: linear-gradient(to right, var(--body-gray) 50%, transparent 100%);
  border-radius: 6px;
  padding: 0.6rem;                 /* Adjust padding as desired */
  font-size: none;             /* Set your font size */
  white-space: nowrap;           /* Keeps the text on one line */
  text-align: center;            /* Centers text inside the button */
  width: auto;                   /* Ensures the width is determined by content */
  transition: all 0.3s ease; /* Smooth transition */
}

.btn-prev:hover,
.btn-next:hover {
  background-color: var(--color-btn-hover);      /* New background on hover */
  color: none;      
  transform: scale(1.02);
  transition: all 0.3s ease;        
}
