@font-face {
    font-family: 'NewCM10';
    src: url('../fonts/NewCM10-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply the font site-wide */
  body {
    font-family: 'NewCM10', serif;
    margin: 0;
    padding: 0;
  }
  